<main class="container-fluid">
  <section class="container">
    <div class="col-12 pt-4">
      <h1 class="text-center title pt-4">Texto Principal</h1>
      <div class="text-center text-content-secondary pt-1 pb-3">
        <p>texto secundario texto secundario texto secundario texto secundario texto secundario texto secundario</p>
      </div>
      <div class="card bg-yellow border-0">
        <article class="card-body">
          <div class="row p-4">
            <div class="col-12 col-lg-6 d-flex justify-content-center">
              <img ngSrc="assets/img/caritas-negras@2x.png" alt="caritas" height="200" width="200"/>
            </div>
            <div class="col-12 col-lg-6">
              <div class="">
                <p class="text-content text-sm-center pt-2">Texto sobre otro elemento</p>
                <button class="btn btn-primary text-white w-100">Bot&oacute;n</button>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
