<main class="container-fluid">
  <section class="container content-center d-flex align-items-center">
    <div class="col-12 pt-4">
      <h1 class="text-center title pt-4">Texto Principal</h1>
      <div class="text-center text-content-secondary pt-1 pb-3">
        <p>texto secundario texto secundario texto secundario texto secundario texto secundario texto secundario</p>
      </div>
      <div class="card bg-yellow border-0 shadow rounded-4">
        <article class="card-body">
          <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
              <div class="row p-4">
                <div class="col-12 col-md-6 d-flex justify-content-center">
                  <img ngSrc="assets/img/caritas-negras@2x.png" alt="caritas" height="200" width="200" />
                </div>
                <div class="col-12 col-md-6">
                  <div class="">
                    <p class="text-content text-center pt-2">Texto sobre otro elemento</p>
                    <button class="btn btn-primary text-white w-100 rounded-3">Bot&oacute;n</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
