<div class="container pb-5">
  <section class="py-5">
    <div class="card bg-yellow border-0 p-5">
      <form [formGroup]="filter" (ngSubmit)="search()" class="row">
          <div class="col-12 col-md-6 col-xl-4 mt-3 mt-xl-0">
            <div class="row">
              <div class="col-2">
                <label for="title" class="col-form-label">T&iacute;tulo:</label>
              </div>
              <div class="col-10">
                <input id="title" class="form-control" type="text" formControlName="title" />
                @if (fFilter['title'] && fFilter['title'].dirty && fFilter['title'].errors?.['required']){
                  <small class="text-black fw-bold mx-1"> El t&iacute;tulo es requerido</small>
                }
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3 mt-3 mt-xl-0">
            <div class="row">
              <div class="col-2">
                <label for="type" class="col-form-label">Tipo:</label>
              </div>
              <div class="col-10">
                <select id="type" class="form-select" formControlName="type">
                  @for( type of types; track type ) {
                    <option [value]="type.value">{{ type.label }}</option>
                  }
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-2 mt-3 mt-xl-0">
            <div class="row">
              <div class="col-2 col-xl-3">
                <label for="year" class="col-form-label">A&ntilde;o:</label>
              </div>
              <div class="col-10 col-xl-8">
                <input id="year" class="form-control" type="text" formControlName="year" />
                @if (fFilter['year'] && fFilter['year'].dirty && fFilter['year'].errors?.['pattern']){
                  <small class="text-black fw-bold mx-1">El a&ntilde;o debe ser un n&uacute;mero de 4 d&iacute;gitos</small>
                }
                @if (fFilter['year'] && fFilter['year'].dirty && fFilter['year'].errors?.['minLength']){
                  <small class="text-black fw-bold mx-1">El a&ntilde;o debe ser tener formato AAAA</small>
                }
                @if (fFilter['year'] && fFilter['year'].dirty && fFilter['year'].errors?.['maxLength']){
                  <small class="text-black fw-bold mx-1">El a&ntilde;o debe ser tener formato AAAA</small>
                }
                @if (fFilter['year'] && fFilter['year'].dirty && fFilter['year'].errors?.['min']){
                  <small class="text-black fw-bold mx-1">El año no puede ser inferior al año 1900.</small>
                }
                @if (fFilter['year'] && fFilter['year'].dirty && fFilter['year'].errors?.['max']){
                  <small class="text-black fw-bold mx-1">El año no puede ser superior al año actual.</small>
                }
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3 mt-3 mt-xl-0">
            <div class="row">
              <div class="col-12 col-md-6">
                <button class="btn btn-primary text-white w-100" type="submit" [disabled]="filter.invalid">Buscar</button>
              </div>
              <div class="col-12 col-md-6 mt-3 mt-md-0">
                <button class="btn btn-secondary text-white w-100" type="button" (click)="reset()">Reiniciar</button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </section>
  <div>
    @if (loading) {
      <div class="d-flex justify-content-center align-items-center mb-5">
        <img src="assets/img/logo@2x.png" class="rotate"  />
      </div>
    } @else {
      @if (searchFilm && searchFilm.Search && searchFilm.Search.length ) {
        <div class="d-flex justify-content-end mb-3">
          Resultados encontrados: <strong>{{ searchFilm.totalResults || 0 }}</strong>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th class="text-center" scope="col">#</th>
              <th scope="col">T&iacute;tulo</th>
              <th class="text-center" scope="col">Tipo</th>
              <th class="text-center" scope="col">A&ntilde;o</th>
              <th class="text-center" scope="col">Poster</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              @for (film of searchFilm.Search; track film.Title; let i = $index) {
                <tr>
                  <th class="text-center" scope="row">{{ i + 1 }}</th>
                  <td>
                    {{ film.Title }}
                  </td>
                  <td class="text-center">
                    {{ film.Type | labelType }}
                  </td>
                  <td class="text-center">
                    {{ film.Year }}
                  </td>
                  <td class="text-center">
                    @if ( film.Poster === 'N/A') {
                      <img class="img-thumbnail" src="assets/img/logo@2x.png" [alt]="film.Title" />
                    } @else {
                      <img class="img-thumbnail" [src]=" film.Poster" [alt]="film.Title" />
                    }
                  </td>
                  <td>
                    <a [routerLink]="['film-detalle', film.imdbID ]">
                      <button class="btn btn-primary text-white fw-normal" type="button">Ver Detalle</button>
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center p-2">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="onPageChange($event)"
            [boundaryLinks]="true"
            [maxSize]="5"
          >
          </ngb-pagination>
        </div>
      } @else {
        <div class="card bg-yellow border-0 p-3 text-center">
          <h3>{{ message }}</h3>
        </div>
      }
    }
  </div>
</div>
