/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/** Normalize css global style **/

:root {
  --black: #000000;
  --white: #ffffff;
  --bs-yellow: #f5b300;
  --bs-gray:#7d7d7d;
  --bs-light-black:#1E1F22;

  /** font-sizes **/
  --font-size-l: 36px;
  --font-size-m: 24px;
  --font-size-s: 20px;
  --font-size-xs: 16px;

  /** Typography **/

  --font-family-inter: "Inter", Helvetica;
}
.inter-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family-inter);
}
header, footer {
  background-color: var(--black);
}

a.nav-link {
  color: var(--white);
  &:hover {
    color: var(--bs-yellow);
  }
}

.bg-yellow {
  background-color: var(--bs-yellow);
}
.title {
  color: var(--bs-yellow);
  font-size: var(--font-size-m);
  font-weight: 600;
}

.text-content {
  font-size: var(--font-size-l);
  font-weight: 600;
}
.text-content-secondary {
  font-size: var(--font-size-xs);
  color: var(--bs-gray);
  font-weight: 600;
}

.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--black);
  --bs-btn-bg: var(--black);
  --bs-btn-border-color: var(--black);
  --bs-btn-hover-bg: var(--bs-light-black);
  --bs-btn-hover-border-color: var(--bs-light-black);
  &:disabled {
   background-color: var(--bs-light-black)!important;
   border-color: var(--bs-light-black)!important;
  }
}
.pagination {
  --bs-pagination-active-bg: var(--bs-light-black);
  --bs-pagination-color: var(--bs-light-black);
  --bs-pagination-active-border-color: var(--bs-light-black);
  --bs-pagination-hover-color: var(--bs-yellow, 10%);
  --bs-pagination-hover-bg: var(--bs-tertiary-bg);
  --bs-pagination-hover-border-color: var(--bs-border-color);
  --bs-pagination-focus-color: var(--bs-light-black);
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(30, 31, 34, 0.25);

}
