/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css?family=Inter:400,700,500");

/** Normalize css global style **/

:root {
  --black: #000000;
  --white: #ffffff;
  --bs-yellow: #f5b300;
  --bs-gray:#7d7d7d;
  --bs-light-black:#1E1F22;

  /** font-sizes **/
  --font-size-l: 36px;
  --font-size-m: 24px;
  --font-size-s: 20px;

  /** Typography **/
  --font-family-inter: "Inter", Helvetica;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-inter);
}

header, footer {
  background-color: var(--black);
}

.nav-link {
  color: var(--white);
 &:hover {
    color: var(--bs-yellow);
  }
}

.navbar-nav {
  --bs-nav-link-hover-color: var(--bs-yellow);
}

.bg-yellow {
  background-color: var(--bs-yellow);
}

.title {
  color: var(--bs-yellow);
  font-size: var(--font-size-l);
  font-weight: 700;
}

.text-content-secondary {
  color: var(--bs-gray);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32.2px;
}

.text-content {
  color: var(--black);
  font-size: var(--font-size-l);
  font-weight: 700;
}
.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--black);
  --bs-btn-bg: var(--black);
  --bs-btn-border-color: var(--black);
  --bs-btn-hover-bg: var(--bs-light-black);
  --bs-btn-hover-border-color: var(--bs-light-black);
  &:disabled {
   background-color: var(--bs-light-black)!important;
   border-color: var(--bs-light-black)!important;
  }
}

btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: var(--bs-light-black);
  background-color: var(--bs-light-black);
  border-color: var(--black);
}

.pagination {
  --bs-pagination-active-bg: var(--bs-light-black);
  --bs-pagination-color: var(--bs-light-black);
  --bs-pagination-active-border-color: var(--bs-light-black);
  --bs-pagination-hover-color: var(--bs-yellow, 10%);
  --bs-pagination-hover-bg: var(--bs-tertiary-bg);
  --bs-pagination-hover-border-color: var(--bs-border-color);
  --bs-pagination-focus-color: var(--bs-light-black);
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(30, 31, 34, 0.25);
}

/* footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999999;
  display: block;
}
